In [1]:
from google.colab import drive
drive.mount('/content/drive')
%cd '/content/drive/My Drive/Colab Notebooks/NLP Hotel Reviews'
#https://www.kaggle.com/datasets/jiashenliu/515k-hotel-reviews-data-in-europe?resource=download

Mounted at /content/drive
/content/drive/My Drive/Colab Notebooks/NLP Hotel Reviews

In [2]:
# Load the hotel reviews from CSV (you can )
import pandas as pd 

df = pd.read_csv('Hotel_Reviews_Filtered.csv')

In [8]:
df

,Hotel_Address,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Total_Number_of_Reviews,Positive_Review,Reviewer_Score,Tags,Leisure_trip,...,Group,Family_with_young_children,Family_with_older_children,With_a_pet,Tag_1,Tag_2,Tag_3,Tag_4,Tag_5,Tag_6
0,"Amsterdam, Netherlands",7.8,Hotel Arena,Russia,I am so angry that i made this post available...,1403,Only the park outside of the hotel was beauti...,2.9,"Leisure trip, Couple, Duplex Double Room, Sta...",1,...,0,0,0,0,Leisure trip,Couple,Duplex Double Room,Stayed 6 nights,None,None
1,"Amsterdam, Netherlands",7.8,Hotel Arena,Ireland,No Negative,1403,No real complaints the hotel was great great ...,7.5,"Leisure trip, Couple, Duplex Double Room, Sta...",1,...,0,0,0,0,Leisure trip,Couple,Duplex Double Room,Stayed 4 nights,None,None
2,"Amsterdam, Netherlands",7.8,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,1403,Location was good and staff were ok It is cut...,7.1,"Leisure trip, Family with young children, Dup...",1,...,0,1,0,0,Leisure trip,Family with young children,Duplex Double Room,Stayed 3 nights,Submitted from a mobile device,None
3,"Amsterdam, Netherlands",7.8,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,1403,Great location in nice surroundings the bar a...,3.8,"Leisure trip, Solo traveler, Duplex Double Ro...",1,...,0,0,0,0,Leisure trip,Solo traveler,Duplex Double Room,Stayed 3 nights,None,None
4,"Amsterdam, Netherlands",7.8,Hotel Arena,New Zealand,You When I booked with your company on line y...,1403,Amazing location and building Romantic setting,6.7,"Leisure trip, Couple, Suite, Stayed 2 nights,...",1,...,0,0,0,0,Leisure trip,Couple,Suite,Stayed 2 nights,Submitted from a mobile device,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,2823,location,7.0,"Leisure trip, Family with older children, 2 r...",1,...,0,0,1,0,Leisure trip,Family with older children,2 rooms,Stayed 5 nights,None,None
515734,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,2823,Breakfast was ok and we got earlier check in,5.8,"Leisure trip, Family with young children, Sta...",1,...,0,1,0,0,Leisure trip,Family with young children,Standard Triple Room,Stayed 2 nights,None,None
515735,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,2823,No Positive,2.5,"Leisure trip, Family with older children, 2 r...",1,...,0,0,1,0,Leisure trip,Family with older children,2 rooms,Stayed 4 nights,Submitted from a mobile device,None
515736,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Mexico,No Negative,2823,The rooms are enormous and really comfortable...,8.8,"Leisure trip, Group, Standard Triple Room, St...",1,...,1,0,0,0,Leisure trip,Group,Standard Triple Room,Stayed 3 nights,None,None
515737,"Vienna, Austria",7.8,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,2823,staff was very kind,8.3,"Leisure trip, Family with young children, 2 r...",1,...,0,1,0,0,Leisure trip,Family with young children,2 rooms,Stayed 2 nights,None,None

In [3]:
# We want to find the most useful tags to keep
# Remove opening and closing brackets
df.Tags = df.Tags.str.strip("[']")
# remove all quotes too
df.Tags = df.Tags.str.replace(" ', '", ",", regex = False)

In [4]:
# removing this to take advantage of the 'already a phrase' fact of the dataset 
# Now split the strings into a list
tag_list_df = df.Tags.str.split(',', expand = True)

In [5]:
# Remove leading and trailing spaces
df["Tag_1"] = tag_list_df[0].str.strip()
df["Tag_2"] = tag_list_df[1].str.strip()
df["Tag_3"] = tag_list_df[2].str.strip()
df["Tag_4"] = tag_list_df[3].str.strip()
df["Tag_5"] = tag_list_df[4].str.strip()
df["Tag_6"] = tag_list_df[5].str.strip()

In [6]:
# Merge the 6 columns into one with melt
df_tags = df.melt(value_vars=["Tag_1", "Tag_2", "Tag_3", "Tag_4", "Tag_5", "Tag_6"])

In [7]:
# Get the value counts
tag_vc = df_tags.value.value_counts()
# print(tag_vc)
print("The shape of the tags with no filtering:", str(df_tags.shape))
# Drop rooms, suites, and length of stay, mobile device and anything with less count than a 1000
df_tags = df_tags[~df_tags.value.str.contains("Standard|room|Stayed|device|Beds|Suite|Studio|King|Superior|Double", na=False, case=False)]
tag_vc = df_tags.value.value_counts().reset_index(name="count").query("count > 1000")
# Print the top 10 (there should only be 9 and we'll use these in the filtering section)
print(tag_vc[:10])

The shape of the tags with no filtering: (3094428, 2)
                        index   count
0                Leisure trip  417778
1                      Couple  252294
2               Solo traveler  108545
3               Business trip   82939
4                       Group   65392
5  Family with young children   61015
6  Family with older children   26349
7      Travelers with friends    2143
8                  With a pet    1405